h1,h2{
    padding: 10px;
}
.button {
    padding: 25px;;
    border-radius: 10%;
    
    
}
#blue {
    background-color: lightblue;
}
#grey {
    background-color: grey;
}
#whitee {
    background-color: white;
}
#yellow {
    background-color: yellow;
}