.center {
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
}
#banner{
    margin: 20px;
    font-size: large;
    font-weight: bold;
}

#clock {
    background-color: aquamarine;
    padding: 15px;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    width: 140px;
    border: 5px solid black;
}